* {
    box-sizing: border-box;
}

.container {
position: relative;
top:0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    margin:180px auto;
    box-shadow: rgb(214, 22, 173) 0px 0.0625em 0.0625em, rgba(255, 126, 223, 0.76) 0px 0.125em 0.5em, rgba(231, 116, 231, 0.904) 0px 0px 0px 1px inset;
    .container > form {
        width: 90%;
        border: 1px solid #dfdfdf;
        padding: 20px;
        border-radius: 5px;
        background: #fff;

    }
    h1{
        color: #553f52;
        font-family: "poppins";
        font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
        font-weight: 800;
       
    }
    input {background: beige;
        padding-top: 10px;
        padding-bottom: 10px;
      border: 1px solid beige;
        display: block;
        border: .1px rgb(216, 216, 143);
        &::placeholder{
            font-size: 13px;
        }
    }
    
    pre {
        width: 70%;
        color: #c73a3a;
        font-size: larger;
    }
    
    button {
        background: #f68fff !important;
        font-weight: 500;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        margin: 1rem auto;
        transition: .3s;
        &:hover{
            background: green !important;
            color: white;
        }
    }
    
    p {
        color: rgb(255, 0, 0);
    }
    
    .text {
        margin: 2px;
        padding: 5px;
    }
    
    span{
        color: rgb(0, 95, 236);
        cursor: pointer;
    }

}

