@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-to-top {
    background-color: white;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
   width:fit-content !important;
    height: 40px;
    box-shadow: 0 9px 25px 0 rgba(172, 111, 161, 0.28) !important;
    border: none;
}