@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

* {
  padding: 0;
  margin: 0;
}
.carousel {
  display: flex;
  width: 100%;

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 120%;
  overflow: hidden;
}

.carousel-card {
  display: flex;
  z-index: 0;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}

.carouselcard-active {
  opacity: 1;
  pointer-events: visible;
  transform: scale(1);
  transition: .7s ease-out;
}
.card-image {
  width: 140% !important;
  height: 80vh;
  overflow: hidden;
object-position: 60%;
object-fit:cover;
  position: relative;
  margin-top: 130px;
}

.card-overlay {
  position: absolute;
  top: 8dvh;
  left: 8dvw;
transition: .5s ease-in;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h5 {
    padding: 30px;
    margin-bottom: 1rem;
    color: #e20d2a;
    font-family: "lora";
    font-weight: 800;
  }

  h2 {
    font-size: 2.5rem;
    font-family: "poppins";
    font-weight: 900;
  }
  p{
    width:30%;
    font-family: "poppins";
    margin-top: 6dvh;
    color: rgb(86, 84, 84);
    font-size: 12px;
    line-height: 1.5rem;

  }
}

.carousel-arrow-left,
.carousel-arrow-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: #ec4848;
  font-weight: 800;
  &:hover{
    color: #e0f732;
  }
}

.carousel-arrow-left {
  left: 15px;
  font-size: 1.5rem;
}
.carousel-arrow-right {
  right: 15px;
  font-size: 1.5rem;
}

.carousel-pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination-dot {
  height: 10px;
  width: 10px;
  background-color: #e0f732;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom:5vh;
}

.pagination-dot:hover {
  transform: scale(1.2);
}

.pagination-dot-active {
  background-color: #ff0000;
}

}

/* CSS */
.button-48 {
  bottom:-7vh;

  width: 15dvw;
  appearance: none;
  background-color: #e2ff06;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fb7f7f;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  font-weight: 900;
  position: relative;

  
}


@media (max-width: 900px) {
  .card-image {
    width: 100% !important;
    height: 70vh;
}
.button-48 {bottom:-2vh;
  width:fit-content;
  padding: 1em 1.5em;
  font-weight: 600;
  font-size: 13px;
}
.carousel-arrow-left,
.carousel-arrow-right {
  display: none;
}


h2{
  font-size: 1.5rem;
}


}
@media (max-width: 785px) {
 .card-overlay{
  width: 100%;

  h2{
    width: 50%;
    font-size: 2rem;
  }
 }
 h5{
  padding: 0 !important;
  font-size: 14px;
}

}

